

* {
	font-family: "poppins", Arial, sans-serif;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

#neon1 {
	color: white;
	text-decoration: none;
	font-size: 12px;
	border-radius: 20px;
	padding: 5px 15px 5px;
	background: #48e4be;
}

#neon2 {
	color: white;
	text-decoration: none;
	font-size: 12px;
	border-radius: 20px;
	padding: 5px 15px 5px;
	background: #c3a9ff;
}

#neon3 {
	color: white;
	text-decoration: none;
	font-size: 10px;
	border-radius: 20px;
	padding: 2px 15px 2px;
	background: #f070a1;
}

.link {
	text-decoration: none;
}

#lgn:hover {
	border-bottom: 1px solid #1a9dff;
}

.forms {
	margin-top: 145px;
}

.coba2 {
	color: red;
}
.facebook {
	border: 1px solid #2a4299;
	width: 40px;
	height: 40px;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	color: #2a4299;
	font-size: 20px;
	border-radius: 50%;
}
.twitter {
	width: 40px;
	height: 40px;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	color: #3899fe;
	border-radius: 50%;
	font-size: 20px;
	border: 1px solid #3899fe;
}
.whatsapp {
	width: 40px;
	height: 40px;
	background-color: #fff;
	line-height: 40px;
	text-align: center;
	color: #25d366;
	border-radius: 50%;
	font-size: 20px;
	border: 1px solid #25d366;
}
